@use '../index';

.App {
  width: 100vw;
  height: 100vh;
  padding: 1em;
  background: url("../../public/assets/bg-horizontal.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
