@use '../index';

.canvas-container {
  text-align: left;
  width: 80%;
  height: 100%;
  margin: auto;
  text-align: center;
  touch-action: none;

  .canvas {
    width: 100% !important;
    height: 90% !important;
    box-shadow: 10px 20px 50px;
    background-color: #eee !important;
    margin: auto;
    .ace_placeholder {
      padding: 0 !important;
    }
  }
}
