@use '../index';

.editor-container {
  text-align: left;
  width: 900px;
  height: 90%;
  margin: auto;

  .editor-menu {
    display: flex;
  }

  .editor {
    box-shadow: 10px 10px 20px gray;
    line-height: 1.8;

    .ace_placeholder {
      padding: 0 !important;
    }
  }
}
