.select-group {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin: 0;
  padding: .2em;
  background-color: #eee;
  
  .select {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: .2em;
    // background-color: #eee;
  
    .button {
      width: fit-content;
      cursor: pointer;
    }
    img {
      width: 40px;
    }
  }
}