@use '../index';

.select-group {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin: 0;
  background-color: #eee;
  
  .select {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: .5em;
    &:hover {
      background-color: #fff;
    }
  
    .button {
      width: fit-content;
      cursor: pointer;
    }
    img {
      width: 40px;
    }
  }
}

.MuiButton-root {
  text-transform: none !important;
  font-size: 12px !important;
  color: #000 !important;
}

.MuiPaper-root {
  margin-top: 3.5em;
  * {
    font-size: 12px !important;
  }
}

.MuiButton-root {
  margin: .5em !important;
  height: fit-content;
}
