$bg-color: #202124;
.App {
  width: 90%;
  height: 100%;
  margin: auto;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  }
}

.App-header {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.editor {
  width: 100%;
  min-height: max-content;
  background: $bg-color !important;
  color: #eee;
  border: none;
  outline: none;
}

.canvas {
  background: $bg-color !important;
  width: 100% !important;
  height: 95vh !important;
}

.menu {
  margin-bottom: 2em;
}