$bg-color: #202124;
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.editor {
  width: 95vw;
  min-height: 95vh;
  background: $bg-color !important;
  color: #eee;
  margin: 1em;
  border: none;
  outline: none;
}

.canvas {
  background: $bg-color !important;
  width: 95vw !important;
  height: 95vh !important;
}