@use 'index';

.editor-container {
  height: fit-content;
  text-align: left;
  width: 900px;
  height: 100%;
  margin: auto;
  border: 1px solid #202124;

  .editor {
    width: 100% !important;
  }

  .ace_gutter {
    box-shadow: 1px 1px 2px #eee;
  }
  .ace_gutter-cell {
  }

  .ace_placeholder {
    padding: 0;
  }
}
