@use 'index';

.editor-container {
  text-align: left;
  width: 900px;
  height: 100%;
  margin: auto;

  .editor {
    padding: 1em !important;
    box-shadow: 10px 10px 20px gray;

    .ace_placeholder {
      padding: 0 !important;
    }
  }
}
