$bg-color: #202124;
$bg-color-light: gray;
$width-sm: 780px;
$width-md: 1024px;
$width-lg: 1140px;
$width-xlg: 1366px;

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

html, body {
  min-height: 100%;
}


body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  h1, h2, h3, h4, h5, h6,
  button, input, select, textarea {
    font-family: $font-family;
    caret-color: $bg-color
  }

  background: url("../public/assets/bg-horizontal.jpg") no-repeat;
  background-size: auto;
  background-position: center;
}